<div>
  <div>
    

    <div><!--
      <div>
        <a href="/users">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_user/<%#= @the_user.id %>">
          Delete user
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%#= @the_user.name %>-->
<!--      </dd>

      <dt>
        Email
      </dt>
      <dd>
        <%#= @the_user.email %>-->
<!--      </dd>

      <dt>
        Password
      </dt>
      <dd>
        <%#= @the_user.password %>-->
<!--      </dd>

      <dt>
        User type
      </dt>
      <dd>
        <%#= @the_user.user_type %>-->
<!--      </dd>

      <dt>
        Company
      </dt>
      <dd>
        <%#= @the_user.company %>-->
<!--      </dd>

      <dt>
        Phone number
      </dt>
      <dd>
        <%#= @the_user.phone_number %>-->
<!--      </dd>

      <dt>
        Profile
      </dt>
      <dd>
        <%#= @the_user.profile %>-->
<!--      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%#= time_ago_in_words(@the_user.created_at) %> ago-->
<!--      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%#= time_ago_in_words(@the_user.updated_at) %> ago-->
<!--      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit user
    </h2>

    <form action="/modify_user/<%#= @the_user.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%#= @the_user.name %>">
      </div>

      <div>
        <label for="email_box">
          Email
        </label>

        <textarea id="email_box" name="query_email"><%#= @the_user.email %></textarea>
      </div>

      <div>
        <label for="password_box">
          Password
        </label>

        <textarea id="password_box" name="query_password"><%#= @the_user.password %></textarea>
      </div>

      <div>
        <label for="user_type_box">
          User type
        </label>

        <input type="text" id="user_type_box" name="query_user_type" value="<%#= @the_user.user_type %>">
      </div>

      <div>
        <label for="company_box">
          Company
        </label>

        <input type="text" id="company_box" name="query_company" value="<%#= @the_user.company %>">
      </div>

      <div>
        <label for="phone_number_box">
          Phone number
        </label>

        <input type="text" id="phone_number_box" name="query_phone_number" value="<%#= @the_user.phone_number %>">
      </div>

      <div>
        <label for="profile_box">
          Profile
        </label>

        <textarea id="profile_box" name="query_profile"><%#= @the_user.profile %></textarea>
      </div>

      <button>
        Update user
      </button>
    </form>
  </div>
</div>
-->
<div>
  <h1><%= current_user.username %></h1>

  <dt>Private</dt>
  <dd><%= current_user.private %></dd>

  <dt>Followers</dt>
  <dd>
    <%#= current_user.followers.count %>
  </dd>


  <dt>Following</dt>
  <dd><%= current_user.private %></dd>
</div>




<nav>
  <ul>
    <li>
      <a href="/users/:username">Profile</a>
    </li>
    <li>
      <a href="/users/:username/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/:username/feed">Feed</a>
    </li>
    <li>
      <a href="/users/:username/discover">Discover</a>
    </li>
  </ul>
</nav>

<div>
  <div>
    <h2>
      <% photo_count = @list_of_photos.where(owner_id: current_user.id).count %>
      Own photos (<%= photo_count %>)
    </h2>
  </div>
</div>


<div>
  <div>
    
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Image
        </th>

        <th>
          Owner
        </th>

        <th>
          Caption
        </th>

        <th>
          Posted
        </th>

        <th>
          Likes
        </th>

        <th>
        </th>

      </tr>

      <% @list_of_photos.each do |a_photo| %>
        <% if current_user.id == a_photo.owner_id %>
          <tr>
            <td>
              <img src="<%= a_photo.image %>">
            </td>

            <td>
              <%= current_user.username %>
            </td>

            <td>
              <%= a_photo.caption %>
            </td>

            <td>
              <%= time_ago_in_words(a_photo.created_at) %> ago
            </td>

            <td>
              <%= a_photo.likes_count %>
            </td>


            <td>
              <a href="/photos/<%= a_photo.id %>">
                Show details
              </a>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
